body {
    margin: 0;
    padding: 0;
}

.container {
    border: green 3px solid;
    background: greenyellow;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header {
    flex: 1;
    border: blue 3px solid;
    background: skyblue;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.color {
    background: #FCDAB9;
}

.border {
    border: #F78072 3px solid;
}

.flex {
    flex: 1;
}

.title,
.menu {
    padding: 25px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3px;
}

.profile,
.home {
    flex: 1;
    border: #F40105 3px solid;
    background: #FAC0CB;
}

.main {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

.article {
    flex: 1;
    border: brown 3px solid;
    background: lightcoral;
    padding-top: 150px;

}

.ads {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 9px;

}

.youtube-ads,
.google-ads {
    flex: 1;
    border: brown 3px solid;
    background: lightcoral;
}

.footer {
    flex: 1;
    border: blue 3px solid;
    background: skyblue;
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 12px;

}

.contacts,
.about-us {
    flex: 2;
    border: 3px solid #6A5ACD;
    background: #E2DEFF;
    padding: 30px;
}

.email,
.youtube {
    flex: 1;
    border: #F78072 3px solid;
    background: #FCDAB9;
}